<app-header></app-header>

  <main class="page">

    <section class="box-form limitar-container">
      <form #form="ngForm"  [formGroup]="mudasenhaForm" class="form" (ngSubmit)='esqueci();'>
          <div class="header">
            <h2>Editar a senha</h2>
          </div>

        <div class="fields">

            <div class="item">
                <div>
                  <h3>Nova Senha</h3>
                </div>

                <div class="input">
                    <input formControlName="senha" type="password" name="senha" placeholder="Senha">
                    <ap-vmessage *ngIf="mudasenhaForm.get('senha').errors?.required && (form.submitted || mudasenhaForm.get('senha').touched)" text="*O campo senha é obrigatório"></ap-vmessage>
                    <ap-vmessage *ngIf="mudasenhaForm.get('senha').errors?.minlength && (form.submitted || mudasenhaForm.get('senha').touched)" text="*mínimo de caracter: 8 caracteres"></ap-vmessage>
                    <ap-vmessage *ngIf="mudasenhaForm.get('senha').errors?.maxlength && (form.submitted || mudasenhaForm.get('senha').touched)" text="*limite de caracter: 16 caracteres"></ap-vmessage>
                    <ap-vmessage *ngIf="mudasenhaForm.get('senha').errors?.senhaForte && (form.submitted || mudasenhaForm.get('senha').touched)" text="*Ao menos 1 letra maiúscula e caracter especial"></ap-vmessage>
                </div>

                <div>
                  <h3>Confirmar nova senha</h3>
                </div>

                <div class="input">
                  <input formControlName="confirmaSenha" type="password" name="confirmaSenha" placeholder="Confirme Sua Senha">
                  <ap-vmessage *ngIf="mudasenhaForm.get('confirmaSenha').errors?.required && (form.submitted || mudasenhaForm.get('confirmaSenha').touched)" text="*O campo confirma senha é obrigatório"></ap-vmessage>
              <ap-vmessage *ngIf="mudasenhaForm.errors?.confirmaPass && mudasenhaForm.get('confirmaSenha').touched" text="As senhas estão diferentes!"></ap-vmessage>
              </div>

            </div>

        </div>

        <button class="button" type="submit">Mudar Senha</button>
      </form>
    </section>

  </main>

<app-footer></app-footer>
