main {
  background-color: rgb(245, 244, 244);
}
.home-apresentacao {
  padding: 20px 0;
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url(../../../assets/pag/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.limitar-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.limitar-container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.box-formulario {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}


.frases {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  margin-top: 8px;
  margin-right: 42px;
}

.box-p {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  border: 1px solid #3b5998;
  margin-bottom: 50px;
}

.box-p:nth-child(4) {
  box-shadow: 0 0 10px white;
}

.frases p {
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #3b5998;
  font-size: 30px;
  margin: 5px 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
  padding: 0 8px;
}

.frases div:last-child p {
  text-shadow: 1px 1px 1px #3b5998;
}


.engloba {
  display: flex;
  flex-flow: column wrap;
  width: 42%;
}

.topo-form {
  background-color: rgba(255, 246, 0, 0.8);
  width: 100%;
  box-shadow: 0 0 10px #fff600;
  border-radius: 10px 10px 0px 0px;
}

.topo-form h3 {
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0 0 2px #1B3675;
  text-align: center;
  margin: 20px 0;
  color: #1B3675;
}

.formulario-home {
  display: flex;
  flex-flow: column wrap;
  padding: 6px 22px 16px 22px;
  background-color: rgba(27, 57, 117, 0.8);
  width: 100%;
  box-shadow: 0 0 10px #fff600;
  border-radius: 0px 0px 10px 10px;
}

.formulario-home .item {
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
  padding: 10px 0;
}

.item .fala {
  margin-bottom: 12px;
}

.item .fala h3 {
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(224, 222, 222);
  font-style: italic;
}

.gif {
  width: 26px;
  height: 26px;
  margin: -5px;
  margin-left: 10px;
  justify-content: center;
  display: none;
}

.sim {
  display: inline-block;
}

input {
  height: 36px;
  margin: -5px 0;
  padding-left: 4px;
}

input, select {
  width: 100%;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border: 0;
}
select {
  padding: 4px 0;
}

select > option {
  font-weight: bold;
}

select.metro option:not(option:nth-child(1)) {
  font-weight: bold;
  color: #fd951f;
}

input::placeholder {
  font-weight: normal;
  padding-left: 16px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  resize: none;
  outline: none;
  border-radius: 5px;
  font-family: sans-serif;
  border: 0;
  padding-left: 4px;
}

textarea::placeholder {
  font-weight: normal;
}

button[type="submit"] {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 1px yellow;
  background-color: #59c173;
  font-weight: bold;
}

@media (max-width: 800px) {
  .box-formulario {
    display: flex;
    flex-flow: column wrap;
  }
  .frases {
      width: 100%;
  }
  .frases p {
      font-size: 26px;
  }
  .engloba {
      width: 100%;
  }
}

@media (max-width: 600px) {
  .box-p {
    margin-bottom: 30px;
  }
  .box-p:last-child {
      margin-bottom: 40px;
  }
  .frases {
    width: 100%;
    margin-top: 0px;
  }
  .frases p {
      font-size: 24px;
  }

  .topo-form h3 {
    text-align: center;
  }

  textarea {
      height: 88px;
  }
}

