<main class="home-apresentacao" id="guardar">
  <section class="limitar-container">
          <div class="box-formulario">

              <div class="frases">
                  <div class="box-p"><p>Sem espaço em casa ou em sua empresa?</p></div>
                  <div class="box-p"><p>Vai se mudar e não sabe onde guardar suas coisas com segurança?</p></div>
                  <div class="box-p"><p>Aquela reforma ameaça seus móveis?</p></div>
                  <div class="box-p"><p>Então você Chegou ao lugar certo!</p></div>
              </div>

              <div class="engloba">

                <div class="topo-form">
                        <h3>O que você quer guardar?</h3>
                    </div>

            <form #form="ngForm"  [formGroup]="landingForm" name="form" class="formulario-home" (ngSubmit)='Enviar();'>

                    <div class="item">
                        <div>
                            <input formControlName="nome"  type="text" name="nome" placeholder="Nome" required>
                        </div>
                    </div>
                        <ap-vmessage *ngIf="landingForm.get('nome').errors?.required && (form.submitted || landingForm.get('nome').touched)" text="*O campo nome é obrigatório"></ap-vmessage>
                        <ap-vmessage *ngIf="landingForm.get('nome').errors?.minlength && (form.submitted || landingForm.get('nome').touched)" text="*mínimo de caracter: 3 caracteres"></ap-vmessage>
                        <ap-vmessage *ngIf="landingForm.get('nome').errors?.maxlength && (form.submitted || landingForm.get('nome').touched)" text="*limite de caracter: 10 caracteres"></ap-vmessage>

                    <div class="item">
                        <div>
                            <input formControlName="email" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                        <ap-vmessage *ngIf="landingForm.get('email').errors?.required && (form.submitted || landingForm.get('email').touched)" text="*O campo email é obrigatório"></ap-vmessage>
                        <ap-vmessage *ngIf="landingForm.get('email').errors?.email && (form.submitted || landingForm.get('email').touched)" text="*Email inválido!"></ap-vmessage>

                    <div class="item">
                        <div>
                            <input formControlName="telefone" type="tel" name="telefone"  placeholder="Telefone com DDD" mask='(00) 00000-0000'>
                        </div>
                    </div>
                      <ap-vmessage *ngIf="landingForm.get('telefone').errors?.required && (form.submitted || landingForm.get('telefone').touched)" text="*O campo telefone é obrigatório"></ap-vmessage>
                      <ap-vmessage *ngIf="landingForm.get('telefone').errors?.minlength && (form.submitted || landingForm.get('telefone').touched)" text="*mínimo de númeoros: 10 números"></ap-vmessage>
                      <ap-vmessage *ngIf="landingForm.get('telefone').errors?.maxlength && (form.submitted || landingForm.get('telefone').touched)" text="*limite de números: 11 números"></ap-vmessage>

                    <div class="item">
                        <div class="fala"><h3>Box de interesse:</h3></div>
                        <div>
                            <select formControlName="metro" class="metro" name="metro">
                                <option  hidden value="">Selecione um Tipo...</option>
                                <option value="Maleiro">
                                Maleiro
                                </option>"
                                <option value="Pequeno">
                                Pequeno
                                </option>
                                <option value="Medio">
                                Médio
                                </option>
                                <option value="Grande">
                                Grande
                                </option>
                                <option value="Super Grande">
                                Super Grande
                                </option>
                                <option value="outros">
                                Outros...
                                </option>
                            </select>
                            <ap-vmessage *ngIf="landingForm.get('metro').errors?.required && form.submitted" text="*O campo tipo é obrigatório!"></ap-vmessage>
                        </div>
                    </div>

                    <div class="item">
                            <div>
                                <textarea formControlName="msg" name="msg" cols="30" rows="8" placeholder="Mensagem (opcional)"></textarea>
                            </div>
                    </div>

                    <button id="botao" type="submit">Enviar<img class="gif" [ngClass]="{'sim' : gif}" src="assets/gif/carregando1.gif" alt="gif"></button>
            </form>

            </div>
          </div>
  </section>
</main>

