.form-perfil{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 80%;
  min-height: 560px;
  padding: 20px;
}

.glob {
  width: 80%;
  height: 96%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: #0686e7;
  border-radius: 12px;
}

.item {
  width: 100%;
  margin: 18px 0;
  border-bottom: 1px solid white;
}


.item h2 {
  color: rgb(255, 136, 0);
  font-weight: 500;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input p{
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 6px;
}

.item:last-child {
  margin-bottom: 0;
}

