
    <section class="about">
      <h2>Quem Somos</h2>
      <p class="limitar-container para">Somos uma empresa Self Storage com o intuito de solucionar a falta de espaço para os nossos clientes,
      com isso evitamos o estresse ocasionado por certas situações, assim proporcionamos uma melhor qualidade de vida
      e ótima experiência para todos os nossos clientes.</p>
      <h3>O que oferecemos</h3>
      <div class="limitar-container2">
          <div class="card">

              <div class="cards">

                  <div class ="block-img">
                      <img src="../../../assets/icon/self.png" alt="Self Storage">
                  </div>

                  <div class="block-titulo">self storage</div>

                  <div class="block-info">Guarda Tudo Águas Claras oferece serviços de armazenamento onde disponibilizamos diversos espaços para alocar seus bens móveis de maneira segura,
                      eficiente e inteligente. Pensando em nossos clientes,
                      sempre estamos dispostos a solucionar seus problemas de espaço,
                      isso com qualidade e agilidade para que o estresse da falta de espaço acabe o mais rápido possível.
                  </div>

              </div>

              <div class="cards">

                  <div class ="block-img">
                      <img src="../../../assets/icon/negocio.png" alt="Garantia">
                  </div>

                  <div class="block-titulo">garantia</div>

                  <div class="block-info">Espaços com segurança, contando com monitoramento 24 horas, espaço privado,
                      onde apenas o locatário e pessoas autorizadas por ele tem acesso ao box. Escolha seu espaço, guarde seus pertences, tranque e leve a chave!
                      Simples, fácil e seguro.
                  </div>

              </div>

              <div class="cards">
                  <div class ="block-img">
                      <img src="../../../assets/icon/estoque.png" alt="Estoque para sua Loja">
                  </div>

                  <div class="block-titulo">estoque para sua loja</div>

                  <div class="block-info">Nossas metragens são variadas para atender todos os tipos de necessidades,
                      temos metragens específicas para você que quer guardar seu estoque sem sobrecarregar sua loja.
                      Que tal fazer uma visita? Preencha o <a href="#guardar">formulário</a>, que entraremos em contato quando for melhor para você.
                  </div>

              </div>

              <div class="cards">

                  <div class ="block-img">
                      <img src="../../../assets/icon/mala.png" alt="Maleiro">
                  </div>

                  <div class="block-titulo">maleiro</div>

                  <div class="block-info">Contamos também com um espaço super especial que são os maleiros,
                      esse espaço é específico para você que não tem espaço em casa para guardar malas de viagens,
                      que muitas vezes só são utilizadas 2 ou 3 vezes por ano, porque continuar ocupando um espaço que pode ficar livre?
                  </div>

              </div>

              <div class="cards">

                  <div class ="block-img">
                      <img src="../../../assets/icon/documento.png" alt="Documentos Pessoais">
                  </div>

                  <div class="block-titulo">documentos pessoais</div>

                  <div class="block-info">Entendemos as necessidades de nossos clientes em busca de um local específico para guardar seus documentos,
                      que muitas vezes ficam em caixas empoeiradas ou em gavetas abarrotadas em nossas casas e escritórios.
                      Temos espaços seguros para que você possa guardar seus documentos, e ter acesso a eles sempre que precisar.
                  </div>

              </div>

              <div class="cards">

                  <div class ="block-img">
                      <img src="../../../assets/icon/commerce.png" alt="Loja Virtual">
                  </div>

                  <div class="block-titulo">Loja Virtual</div>

                  <div class="block-info">Sabemos que os espaços são importantes, é muito comum faltar espaços em nossa casa, escritório, empresa.
                      As vezes o nosso estoque ultrapassa o limite que temos de espaço ou as vezes nem possuímos esse espaço,
                      nossa proposta e trazer uma solução para seus problemas. Você que tem e-commerce, temos o espaço ideal para o seu estoque.
                  </div>

              </div>

          </div>
      </div>
  </section>

