.contato-container {
  padding-top: 60px;
  background-image:  url(../../../assets/pag/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.horario-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px;
  height: 260px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}

.box-img {
  display: flex;
  width: 100%;
  border-radius: 30px 0 0 30px;
  background-color: #3b5998;
}

.box-img img {
  width: 100%;
}

.horario-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  text-align: center;
  background-color: rgb(59,86,152);
  border-radius: 0 30px 30px 0;
  justify-content: center;
}

.horario-box h2 {
  color: rgb(233, 232, 232);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: -42px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
  padding: 0 5px;
}

.horario-box p {
  font-family: sans;
  font-style: italic;
  color: rgb(226, 226, 226);
  font-size: 20px;
  margin: 12px 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
  padding: 0 5px;
}

.insta-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 30px;
  height: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.rede-box {
  width: 100%;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  text-align: center;
  background-color: rgb(231, 230, 230);
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-image: url(../../../assets/icon/redes/insta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rede-box img {
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.rede-box h2 {
  color: white;
  font-family: amara;
  font-style: italic;
  text-shadow: 0 0 10px yellow;
  font-size: 28px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.h {
  font-family: amara;
  font-style: italic;
  font-size: 26px;
  color: white;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);

}

.rede-box p {
  color: white;
  margin-top: 16px;
  font-family: sans;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 0 10px yellow;
  font-size: 20px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.rede-box a {
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.location-container {
  display: flex;
  flex-flow: row-reverse;
  padding-bottom: 30px;
}

.box-fraselocal {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.box-fraselocal h2 {
  text-align: center;
  padding: 0 10px;
  font-family: sans-serif;
  color: #3b5998;
  margin-top: 16px;
  font-size: 30px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.box-fraselocal .endereco, .edificio {
  text-align: center;
  padding: 0 10px;
  text-shadow: 0 0 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: sans;
  font-style: italic;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}
.box-fraselocal .edificio {
  margin-top: -15px;
}



.box-fraselocal p:nth-child(3) img {
  width: 60px;
  height: 40px;
}

.box-fraselocal h3 {
  font-family: sans;
  margin-top: 22px;
  text-align: center;
  color: #3b5998;
  font-size: 30px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.wpp {
  margin-left: -20px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.box-wpp img {
  border-radius: 32px;
  margin: 0px 10px 10px 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.box-numero {
  font-size: 18px;
  font-family: sans-serif;
  font-style: italic;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}



.box-gps {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

iframe {
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(224, 222, 222, 0.9);
}

@media (max-width: 800px) {
  .location-container {
        flex-flow: column wrap;
  }

  @media (max-width: 600px) {
    .box-fraselocal h2 {
      font-size: 28px;
      text-align: center;
      padding: 0 5px;
    }
    .box-fraselocal h3 {
        font-size: 22px;
        text-align: center;
        padding: 0 5px;
    }
    .box-fraselocal p:not(p:nth-child(3)) {
        font-size: 18px;
        padding: 0 5px;
    }
    .box-fraselocal p:nth-child(3) {
        font-size: 18px;
        padding: 0 5px;
    }
    .box-fraselocal p:nth-child(3) img {
        width: 26px;
        height: 26px;
    }
    .horario-box h2 {
        font-size: 28px;
    }
    .horario-box p {
        font-size: 18px;
    }
    .box-numero {
      font-size: 16px;
    }
    .ops > .limitar-container2 > .box-frase-ops {
      margin-bottom: 20px;
    }
  }
}
